.display-none {
  display: none;
}

.editpdfscrollable {
  overflow-y: scroll;
  min-height: 0px;
  grid-area: editPDFScroller;
}

.editpdfHeader {
  grid-area: editPDFHeader;
  max-height: 100%;
}

.editpdfFooter {
  grid-area: editPDFFooter;
}

.editpdfCover {
  grid-area: editPDFCover;
  overflow-y: auto;
  word-break: break-all;
}

.editpdfBody {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 25% 1fr;
  gap: 0px 0px;
  height: 100vh;
  grid-auto-flow: row;
  grid-template-areas:
    "editPDFHeader editPDFHeader"
    "editPDFCover editPDFScroller"
    "editPDFFooter editPDFFooter";
}

/* .container {  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: max-content 1fr max-content;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header"
    "Coverr Body"
    "Footer Footer"
}
*/


.editpdfChangedFormField {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.massImportPDFscrollable {
  overflow-y: scroll !important;
  grid-area: scroller;
}

.massImportPDFHeader {
  grid-area: header;
}

.massImportPDFFooter {
  grid-area: footer;
}

.massImportPDFFooter-hidden {
  grid-area: footer;
  visibility: hidden;
}

.massImportPDFCover {
  grid-area: cover;
  overflow-y: auto;
  word-break: break-all;
}

.massImportPDFBody {
  display: grid;
  grid-template-rows: minmax(5%,max-content) auto;
  grid-template-columns: 25% auto;
  grid-template-areas:
    "header header"
    "cover scroller"
    "footer footer"
}

.massImportPDFChangedFormField {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.metaDataDisplayArea {
  display: grid;
  grid-template-columns: 275px auto;
  grid-template-areas:
  "cover table"
  "footer footer";

}

#MetaDataTable {
  grid-area: table;
  overflow-y: auto;
}

#metaDataCover {
  grid-area: cover;
}

.metaDataFooter {
  grid-area: footer;
}

.metaDataSampleCover {
  width: 100%;
  padding: 25px 2px 2px 2px;
  src: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=";
}

.mainDisplayArea {
  grid-area: scroller;
}

.mainHeader {
  grid-area: header;
}

.mainFooter {
  grid-area: footer;
}

.hiddenMainBody {
  display: none;
  visibility: hidden;
}

.mainBody {
  display: grid;
  grid-template-rows: minmax(5%,max-content) auto;
  grid-template-areas:
    "header"
    "scroller"
}

.editConfigurationArea {
  overflow-y: scroll !important;
  grid-area: editConfigScroller;
}

.editConfigurationHeader {
  grid-area: editConfigHeader;
}

.editConfigurationFooter {
  grid-area: editConfigFooter;
}


.editConfigurationBody {
  display: grid;
  grid-template-rows: minmax(5%,max-content) 1fr minmax(2%, max-content);
  grid-template-areas:
    "editConfigHeader"
    "editConfigScroller"
    "editConfigFooter";
}

.titleSelectionHeaders {
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

th::selection {
    color:transparent;
}
th::-moz-selection {
    color:transparent;
}

.taglist-hidden {
  visibility: hidden;
}

.tags-input {
  border: 1px solid lightgrey;
  padding: 0 11px;
  margin-top:4px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  color: black;
}
.tags-input button {
  margin-right: 7px;
  color: black;
  padding: 4px 7px;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
}
.tags-input button[data-selected] {
  background: #71ccd5;
}
.tags-input::after {
  content: "";
  background: #888;
  width: 1px;
  height: 19px;
  margin: -1px 0 0 -1px;
  display: none;
  -webkit-animation: blink 0.5s infinite alternate;
          animation: blink 0.5s infinite alternate;
}
.tags-input:focus {
  border-color: #888;
  outline: none;
}

.tags-input:focus[data-cursor]::after {
  display: block;
}

.pdfCover {
  object-fit: contain;
  width:100%;
  src: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=";
}

/* from https://blog.dcpos.ch/how-to-make-your-electron-app-sexy */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
  /* Disable text selection, or your app will feel like a web page */
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;

  /* Cover the whole window */
  height: "100%";

  /* Make sure this matches the native window background color that you pass to
   * electron.BrowserWindow({...}), otherwise your app startup will look janky. */
  background: rgb(40, 40, 40);

  /* Smoother startup */
  animation: fadein 0.5s;
}

.metaDataLabel {
  font-weight: bold;
  display: block;
  width: 150px;
  float: left;
}

.metaDataLabel:after { content: ": " }

.metaDataChangedLabel {
  font-weight: bold;
  color: red;
  display: block;
  width: 150px;
  float: left;
}

.metaDataChangedLabel:after { content: ": " }

.metaDataCheckboxLabel { text-overflow: inherit !important; }

.metaDataCheckboxLabel:after { content: " "; padding-left: 5px; }

.metaDataTagsList { color: black; }
.metaDataTagsChangedList { color: red; }

.selectionListTitle { max-width: 30%; white-space: normal; padding: 2px}
.selectionListAuthor { max-width: 20%; white-space: normal; padding: 2px}
.selectionListPublisher { max-width: 15%; white-space: normal; padding: 2px}
.selectionListTags { max-width: 25%; white-space: normal; padding: 2px}
.selectionListAction { max-width: 5%; white-space: normal; padding: 2px; text-align: center}


/* Simple progress bar */

.progress-bar {
  width: "100%";
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
  display: block;
  height: 22px;
  background-color: #659cef;
  border-radius: 3px;

  color: white;
  text-align: right;
  
  transition: width 50ms ease-in-out;
  width: 1%;
}

.hiddenMassImportPDFBody {
  display: none;
  visibility: hidden;
}

.hiddenEditArea {
  display: none;
  visibility: hidden;
}

.hiddenConfigureArea {
  display: none;
  visibility: hidden;
}

.hiddenMainDisplayArea {
  display: none;
  visibility: hidden;
}

.hidden {
  display: none;
}

.show {
  display:block;
}

.form-group {
  display: block;
}