.tabulator {
    border: 0px !important;
    background-color: #e6e6e6 !important;
}

.tabulator-footer {
    border-top: 0px !important;
}

.tabulator-row:last-of-type {
    border-bottom: 1px solid #000 !important;
}